{% extends "/layout.html.twig" %}

{% block page_title %}Nouvelle instance{% endblock %}

{% block content %}
    <div class="p-25">

        <ul class="breadcrumb" style="font-size: 1.25em">
            <li><a href="{{ route_url('editor-flow-all') }}">Bibliothèque des processus</a></li>
            <li><a href="{{ route_url('flow-instance-all') }}">Instances</a></li>
            <li>Nouvelle</li>
        </ul>

        <div class="box mt-20">
            <h2 class="title">Création d'une nouvelle instance</h2>
            <form method="post">

                {% set formErrors = form.errors.toArray() %}
                {% if formErrors %}
                    <div class="alert error max-w-750 ms-auto p-5 mb-20">
                        {% if formErrors|length > 1 %}
                            <ul>
                                {% for error in formErrors %}
                                    <li>{{ error.message|nl2br }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{{ formErrors[0].message|nl2br }}</p>
                        {% endif %}
                    </div>
                {% endif %}
                {% include "/flash/success.html.twig" %}

                <div class="max-w-750 ms-auto p-20">

                    {{ form.csrf_token|render }}
                    <div class="field">
                        {{ form.flow_identifier|render }}
                    </div>

                    <div class="text-right mt-30">
                        <button type="submit" class="button primary">Continuer...</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
{% endblock %}