{% extends "/layout.html.twig" %}

{% block page_title %}Nouvelle instance{% endblock %}

{% block content %}
    <div class="p-25">

        <ul class="breadcrumb" style="font-size: 1.25em">
            <li><a href="{{ route_url('editor-flow-all') }}">Bibliothèque des processus</a></li>
            <li><a href="{{ route_url('flow-instance-all') }}">Instances</a></li>
            <li>Nouvelle</li>
        </ul>

        <div class="box mt-20">
            <h2 class="title">Création d'une nouvelle instance</h2>
            <form method="post">

                {% set formErrors = form.errors.toArray() %}
                {% if formErrors %}
                    <div class="alert error max-w-750 ms-auto p-5 mb-20">
                        {% if formErrors|length > 1 %}
                            <ul>
                                {% for error in formErrors %}
                                    <li>{{ error.message|nl2br }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{{ formErrors[0].message|nl2br }}</p>
                        {% endif %}
                    </div>
                {% endif %}
                {% include "/flash/success.html.twig" %}

                <div class="max-w-750 ms-auto p-20">

                    {{ form.csrf_token|render }}

                    <div class="bg-primary p-20 mb-30" style="color: white; border-radius: 10px">
                        <h3 style="font-size: 2em; margin: 10px 0 10px">{{ flow.name }}</h3>
                        <h4 style="font-size: 1.1em; margin: 15px 0 5px">Description</h4>
                        <p style="margin: 0">
                            {% if flow.settings.description %}
                                {{ flow.settings.description|nl2br }}
                            {% else %}
                                <span class="text-muted">Aucune description disponible pour ce processus</span>
                            {% endif %}
                        </p>
                        <h4 style="font-size: 1.1em; margin: 15px 0 5px">Variables d'entrée</h4>
                        <p style="margin: 0">
                            {% spaceless %}
                                {% for input in flow.settings.environment.inputs %}
                                    {% if input %}<small class="ms-5 badge badge-white">{{ input }}</small>{% endif %}
                                {% else %}
                                    <span class="text-muted">Aucune variable d'entrée pour ce processus</span>
                                {% endfor %}
                            {% endspaceless %}
                        </p>
                        <h4 style="font-size: 1.1em; margin: 15px 0 5px">Variables de sortie</h4>
                        <p style="margin: 0">
                            {% spaceless %}
                                {% for output in flow.settings.environment.outputs %}
                                    {% if output %}<small class="ms-5 badge badge-white">{{ output }}</small>{% endif %}
                                {% else %}
                                    <span class="text-muted">Aucune variable de sortie pour ce procesus</span>
                                {% endfor %}
                            {% endspaceless %}
                        </p>
                    </div>

                    <fieldset class="mt-15 mb-30">
                        <legend>Paramétrage de l'instance</legend>
                        <div class="p-30">
                            <div class="field">
                                {{ form.domain|render }}
                            </div>
                        </div>
                    </fieldset>


                    {% if flow.settings.environment.inputs %}
                        <fieldset class="mt-15 mb-30">
                            <legend>Variables d'entrée</legend>
                            <div class="p-30">
                                {% for input in flow.settings.environment.inputs %}
                                    <div class="field">
                                        {{ form.getField("flow_input_"~input)|render }}
                                    </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                    {% endif %}

                    <div class="text-right mt-30">
                        <button type="submit" class="button primary">Créer l'instance</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
{% endblock %}